*{
    margin: 0;
    padding: 0;
}

body{
background-image: url(https://cdn.discordapp.com/attachments/403932356874076168/1075739828873855016/wallpaperapp.jpg);
 background-size: cover;
}

#title{
    /* background-color: blue; */
    height: 5%;
}

#text_title{
    text-align: center;
    color: rgb(43, 255, 0);
    font-size: 200%;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
}

#radar{

    margin-top: 20%;

    color: rgb(0, 255, 0);
    /* background-color: rgb(143, 143, 143); */
}

#buttons{
margin-top: 14%;
display: flex;
flex-direction: row;
justify-content:space-between;
margin-left: 1%;
margin-right: 1%;
}

button{
    background-color: transparent;
    border: 1px solid rgb(9, 255, 0);
    font-size: 110%;
    padding: 2%;
    color: rgb(0, 255, 42);
    font-family: 'Share Tech Mono', monospace;
}

#text_radar{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

#link_button{
    color: rgb(0, 255, 42);
    text-decoration: none;
}

#selected{
    background-color: rgb(9, 255, 0);
    color: black;
    font-weight: bolder;
    cursor: initial;
}

#selected_last{
    background-color: rgb(9, 255, 0);
    color: black;
    font-weight: bolder;
    cursor: initial;
    margin-top: 8%;
    margin-left: 32%;
}

#lastbutton{
    margin-top: 8%;
    margin-left: 32%;
}
#container{
    height: 710px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    border: 5px rgb(0, 0, 0) solid;
    /* background-color: blueviolet; */
    background-color: black;
}
